# Build output
build/
dist/
target/

# Java
*.class
*.jar
*.war

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDE & Editor files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
nbproject/private/

# Logs
*.log

# Environment variables
.env

# OS
.DS_Store
Thumbs.db